.error {
    position: fixed;
    top: 0;
    left: 0;
    width: 30%;
    border: 1px solid red;
    background: pink;
    color: red;
    border-radius: 4px;
}
.error__heading {
    border-bottom: 1px solid red;
    padding: 8px;
}
.error__message {
    padding: 12px 8px;
}