.document-footer {
    display: flex;
    color: #ddd;
    padding: 36px;
    justify-content: space-between;
    background-image: linear-gradient(rgba(58, 70, 82, 0.97), rgba(58, 70, 82, 0.97)), url('back.png');
    background-position: center center, center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.document-footer__section {
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    padding: 18px;
}

.document-footer__heading {
    color: #a5a9ac;
    border-bottom: 1px solid;
}