.document-nav {
    background: #273238;
    position: fixed;
    height: 100vh;
    width: 20vw;
    z-index: 1;
    box-shadow: 0 0 8px;
}

.document-nav a {
    text-decoration: none;
}

.document-nav__logo-container {
    display: flex;
    margin: 2rem 1rem;
}

.document-nav__nav-list {
    display: flex;
    flex-direction: column;
    list-style: none;
}

.document-nav__nav-item a {
    display: block;
    padding: 1rem;
    color: #a5a9ac;
    font-size: 1.6rem;
}

.document-nav__nav-item a:hover {
    background: #2e3b41;
}

.document-nav__nav-item a.active {
    background: #3e4b51;
}

.document-nav__link-title h2 {
    color: #ebeff2;
}